*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', arial;
    font-weight: 400;
    background-color: #F9F9F9;
}
img{ 
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none; 
}
:root{
    --e-global-color-primary: #C02810;
    --e-global-color-secondary: #FE9B19;
    --e-global-color-text: #787878;
    --e-global-color-accent: #F9F9F9;
    --e-global-color-f7d833c: #120E0E;
    --e-global-color-88fcbaa: #DEDEDE;
    --e-global-color-5c337e4: #FFAE44;
    --e-global-color-89343cb: #F0F0F0;
    --e-global-color-ef06227: #FFFFFF00;
    --e-global-color-0852166: #F9F9F9BF;
}


.section1{
    background-image: url(../images/Home/Image-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-block: 80px;
    margin-top: 1px;
}
.section1 .overlay{
    background-color: var(--e-global-color-primary);
    opacity: 0.9;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.section1 .Title h3{
    color: white;
    font-weight: 900;
    font-size: 65px;
    text-transform: capitalize;
}
.section1 .spn-slash {
    display: block;
}
.section1 .text {
    font-size: 20px;
    font-weight: 600;
}
.section1 .text a{
    color: var(--e-global-color-secondary);
}
.section2{
    background-image: url(../images/About/AboutUs/Image-11.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-block: 130px;
    margin-block: 100px;
}
.section2 .overlay{
    background-color: rgba(0, 0, 0, .2);
    opacity: 0.9;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.section2 .icon .material-symbols-outlined{
    font-size: 70px;
    color: white;
    font-weight: 900;
}
.section10{
    margin-block: 100px;
}
.section10 .card-title{
    font-size: 35px;
    font-weight: 700;
    color: var(--e-global-color-f7d833c);
}
.section10 .card-text{
    font-size: 18px;
    font-weight: 400;
    color: var(--e-global-color-primary);
}
.section10 .list li a i{
    font-size: 1rem;
    color: white;
}
.section10 .list li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--e-global-color-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    transition: all 0.3s;
    
}
.section10 .list li a:hover{
    scale: .95;
    background-color: var(--e-global-color-secondary);
    transform: translateY(-3px);
}
.section8{
    margin-bottom: 7rem;   
}
.section4 .list-item{
    border-bottom: 1px var(--e-global-color-secondary) solid;
}
.section4  h4{
    color: var(--e-global-color-f7d833c);
    font-size: 25px;
    font-weight: 790;
}
.section4 .price{
    font-size: 30px;
    font-weight: 1000;
    color: var(--e-global-color-primary);
    text-transform: capitalize;
}