*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', arial;
    font-weight: 400;
    background-color: #F9F9F9;
    overflow-x: hidden;
}
img{ 
    width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none; 
}
:root{
    --e-global-color-primary: #C02810;
    --e-global-color-secondary: #FE9B19;
    --e-global-color-text: #787878;
    --e-global-color-accent: #F9F9F9;
    --e-global-color-f7d833c: #120E0E;
    --e-global-color-88fcbaa: #DEDEDE;
    --e-global-color-5c337e4: #FFAE44;
    --e-global-color-89343cb: #F0F0F0;
    --e-global-color-ef06227: #FFFFFF00;
    --e-global-color-0852166: #F9F9F9BF;
}
.section-2{
    padding-block: 80px;
}
.section-2 .text-row-1 .list-item h5, .section-2 .text-row-1 .list-item{
    font-size: 20px;
    font-weight: 600;
    color: var(--e-global-color-primary);
}
.section-2 .row p{
    color: var(--e-global-color-text);
    font-weight: 500;
}
.section-2 .row .list li a i{
    font-size: 1rem;
    color: white;
}
.section-2 .row .list li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--e-global-color-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    transition: all 0.3s;
    
}
.section-2 .row .list li a:hover{
    scale: .95;
    background-color: var(--e-global-color-secondary);
}
.section-2 .text-row-1 h3{
    color: #120E0E;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
}
.other-products, .offer{
    background-color: var(--e-global-color-primary);
    color: white;
}
.other-products h3{
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    border-bottom: var(--e-global-color-secondary) 1px solid;
}
.section-2 .text-row-2 h3{
    color: #120E0E;
    font-size: 25px;
    font-weight: 900;
    text-transform: capitalize;
}
.section-2 .benefit{
    color: #120E0E;
    font-size: 25px;
    font-weight: 900;
    text-transform: capitalize;
}
.section-2 .spn{
    background-color: transparent;
    color: var(--e-global-color-primary);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    font-weight: 200;
    border: var(--e-global-color-primary) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group li{
    padding-block: 5px;
}
.group-1 .spn{
    border: white 1px solid;
    color: white;
}
.section-2 .btnn {
    text-align: center;
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-f7d833c);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}
.section-2 .btnn:hover{
    scale: 0.9;
}
.offer{
    background-image: url(../images/menu-details/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.offer .overlay{
    background-color: var(--e-global-color-primary);
    opacity: 0.7;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.offer h4{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-block: 2rem;
}
.links h4{
     color: var(--e-global-color-f7d833c);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-2 .group-1 h5{
    font-size: 1.3rem;
    color: white;
}
.section-2 .group-2 h5{
    font-size: 1.3rem;
    color: var(--e-global-color-f7d833c);
}
@media (max-width: 565px){
    .section1 .Title h3 {
        font-size: 55px;
    }
}
@media (max-width: 489px){
    .other-products h3 {
        font-size: 27px;
    }
    .section-2 .group h5{
        font-size: 1.05rem;
    }
    .section-2 .text-row-1 h3 {
        font-size: 30px;
    }
    .offer h4 {
        font-size: 25px;
    }
    .section1 .Title h3 {
        font-size: 40px;
    }
}

/* Edit navbar from 992px to 1203px */